
#aps-graph-wrapper circle.ap{
	stroke: #565656;
	fill: #868686;
	opacity: 1;
}

#aps-graph-wrapper circle.hilight{
	fill: #669933;
	stroke: #575555;
	stroke-width: 2px;
	opacity: 1;
}

#aps-graph-wrapper line.ap-link{
	stroke:#887E7C; 
	stroke-width: 1;
    opacity: 0.3;
}

