body {
  font: 10px sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
rect.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

.x.axis path {
  /*display: none;*/
}
#ap-view-left-svg {
  position: absolute;
  top: 30px;
  left: 0;
}
#ap-view-svg {
  position: absolute;
  top: 30px;
  left: 8%;
}
#device-view-left-svg {
  position: absolute;
  top: 30px;
  left: 0;
}
#device-view-svg {
  position: absolute;
  top: 30px;
  left: 8%;
}
#device-view-list-svg {
  position: absolute;
  top: 30px;
  left: 90%;
}

.remove {
  font-size: 0.8em;
}

.line {
  fill: none;
  stroke: #808080;
  stroke-width: 0.1em;
}
.apTag.line {
  pointer-events: none;
  fill: none;
  stroke-width: 1px;
  stroke-opacity: 0.3;
  stroke-dasharray: 1,1;
}
.deviceTag.line {
  pointer-events: none;
  fill: none;
  stroke-width: 1px;
  stroke-opacity: 0.3;
  stroke-dasharray: 1,1;
}
.deviceLogin.line {
  pointer-events: none;
  fill: none;
  stroke-width: 1px;
  stroke-opacity: 0.5;
}
.deviceAPRect {
  fill: #8B8B8B;
  fill-opacity: 0.3;
}
.deviceVerticalLine {
  fill: none;
  stroke: #8B8B8B;
  stroke-opacity: 0.1;
  stroke-width: 1px; 
}
.deviceAPDot {
  fill: #8B8B8B;
  fill-opacity: 0.3;
}
.circle.floorBtn {
  fill-opacity: 1.0;
}

.circle.floorBtn.collapsed {
  fill-opacity: 0.3;
}
.text.floorBtn.collapsed {
  fill-opacity: 0.3;
}
.text.apTag.collapsed {
  fill-opacity: 0.3;
}

.text.deviceList {
  font-size: 0.7em;
  fill: #666666; 
  fill-opacity: 0.3;
  text-anchor: end;
}

.text.deviceTag {
  fill: #666666; 
}
.text.apTag{
  fill: #666666; 
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}