/*
 * floor bar circles
 */

#floor-bar-circles .ap rect,
#floor-bar-ap-sel-circles .ap rect,
#floor-bar-circles .floor rect{
	/*fill: #A2CE85;*/
	fill:#C8CCD5; 
}

.ap-bars-g .bar text::selection,
#floor-bar-circles .bar text::selection{
	background: none;
}

.ap-bars-g .bar text.value,
#floor-bar-circles .bar text.value{
	text-anchor: start;
}

#floor-bar-circles .floor text{
	text-anchor: end;
	stroke: #666666; 
	font-size: 10px;
}

.ap-bars-g .bar text,
#floor-bar-ap-sel-circles .ap text,
#floor-bar-circles .ap text{
	font-size: 8px;
	text-anchor: end;
	stroke: #666666; 
}

#floor-bar-circles .floor.current rect{
	fill: #646464;
	stroke: #646464;
	stroke-width: 2;
}

#floor-bar-circles .floor.selected rect{
	fill: #646464;
	stroke: #646464;
	stroke-width: 2;
}

#floor-bar-circles .floor.hover rect{
	fill: #646464;
	stroke: #646464;
	stroke-width: 2;
}

#floor-bar-circles .floor.fading{
	opacity: 0.5;
}

/*
 * aps histogram
 */
#floor-bar-aps .floor .bar rect{
	fill: #838383; 
}

#floor-bar-aps .floor .bar.selected rect{
	fill:#B31A1A; 
}

#floor-bar-aps .floor .bar.hover rect{
	opacity: 0.5;
}

/*
 * floor bar timeline
 * and aps timeline
 */
#floor-bar-ap-sel-tls .ap path,
#floor-bar-tls .floor path,
#floor-bar-tls .ap path {
	stroke: #898989;
	fill: rgb(5, 5, 5);
	fill-opacity: 0.2;
}

#floor-bar-tls .floor.current path{
}

#floor-bar-tls .floor.hover path,
#floor-bar-ap-sel-tls .ap.hover path,
#floor-bar-tls .ap.hover path{
	stroke-width: 2;
}

#floor-bar-tls .floor.selected path,
#floor-bar-ap-sel-tls .ap.selected path,
#floor-bar-tls .ap.selected path{
	stroke-width: 2;
}

#floor-bar-tl-x-axis.axis.x{
	
}

/*
 * tip
 */

#floor-bar-tip{
	max-width: 120px;
	min-width: 100px;
	z-index: 200;
}

#floor-bar-tip-time{
	max-width: 120px;
	min-width: 100px;
	z-index: 200;
	
	color: black;
	border: 1px solid black;
}
/*******/

#floor-bar-btn-wrapper .btn.btn-tl{
	fill: #4A3535;
}
#floor-bar-btn-wrapper .btn.btn-bar{
	fill: #B47070;
}

