#floor-background{
	/*plan image*/
	position: relative;	
	opacity: 0.3;
}

/*
 * AP
 */
#aps-wrapper{}
#aps-wrapper .ap circle{
	fill: #646464;
	opacity: 0.2;
}

#aps-wrapper .ap.fading circle{
	fill: #E0E0E0;
	opacity: 0.2;
}

#aps-wrapper .ap.hover circle{
	opacity: 0.7;
}
#aps-wrapper .ap.selected circle{
	fill: #4290D2;
	opacity: 0.7;
}

/*
 * device
 */
#device-wrapper .device rect,
#aps-wrapper .device rect{
	fill: #6D6868;
}

#device-wrapper .device.selected rect,
#aps-wrapper .device.selected rect{
	/*fill: #71B1F0;*/
	stroke: #303030;
}

#device-wrapper .device.hover rect,
#aps-wrapper .device.hover rect{
	stroke: #303030;
}

/*
 * path
 */
#path-wrapper{}

/* arrow */
#path-arrow-normal{
	fill: #8B8B8B;
}

#path-arrow-fading{
	/*opacity: 0.1;*/
	fill: #8B8B8B;
}

#path-arrow-reverse{
	fill: #8B8B8B;
}

#path-arrow-hilight{
	fill: #8B8B8B;
}

#path-arrow-hover{
	fill: #8B8B8B;
}

/* link */
#path-wrapper .link path{
	fill: none;
	stroke: #8B8B8B;
	opacity: 0.4;
	marker-end: url("#path-arrow-normal");
}

#path-wrapper .link.selected path{
	opacity: 1;
}
#path-wrapper .fading{
	/*opacity: 0.1;*/
}
#path-wrapper .fading path{
	opacity: 0.1;
	marker-end: url("#path-arrow-fading");
}

#path-wrapper .hilight path{
	opacity: 1;
	stroke: #8B8B8B;
	marker-end: url("#path-arrow-hilight");
}

#path-wrapper .reverse path{
	opacity: 1;
	stroke: #8B8B8B;
	marker-end: url("#path-arrow-reverse");
}

#path-wrapper .hover path{
	stroke: #8B8B8B;
	marker-end: url("#path-arrow-hover");
}
/*
 * histogram
 */
#floor-detail-histogram g.hist rect{
	fill: #98DF8A;
}
#floor-detail-histogram g.hist rect:hover{
	fill: #FAD990;
	stroke-width: 1;
}
#floor-detail-histogram g.hist.selected rect{
	fill: #EDA915;
}


/*
 * ap description
 */
.floor-detail-tip-wrapper{
}
