/*
 * floor bar bars
 */

.floor-bars-g .ap rect,
.ap-bars-g .floor rect{
	/*fill: #A2CE85;*/
	fill:#C8CCD5; 
}

.ap-bars-g .bar text::selection,
.floor-bars-g .bar text::selection{
	background: none;
}

.ap-bars-g .bar text,
.floor-bars-g .bar text{
	font-size: 8px;
	text-anchor: end;
	stroke: #666666; 
}

.floor-bars-g .bar text{
	font-size: 10px;
}

.ap-bars-g .bar text.value,
.floor-bars-g .bar text.value{
	text-anchor: start;
}


.floor-bars-g .bar.current rect{
	fill: #646464;
	stroke: #646464;
	stroke-width: 1.5
}

.ap-bars-g .bar.selected rect,
.floor-bars-g .bar.selected rect{
	fill: #646464;
	stroke: #646464;
	stroke-width: 1.5
}

.ap-bars-g .bar.hover rect,
.floor-bars-g .bar.hover rect{
	fill: #646464;
	stroke: #646464;
	stroke-width: 1.5
}

.floor-bars-g .bar.fading{
	opacity: 0.5;
}

/**/
.floor-tls-g .tl path {
	stroke: #898989;
	fill: rgb(5, 5, 5);
	fill-opacity: 0.2;
}

.floor-tls-g .tl.current path{
	stroke-width: 1.5
}

.ap-tls-g .tl.hover  path,
.floor-tls-g .tl.hover path{
	stroke-width: 1.5
}

.ap-tls-g .tl.selected path,
.floor-tls-g .tl.selected path{
	stroke-width: 1.5
}

.ap-tls-g .tl circle,
.floor-tls-g .tl circle{
	fill: #373737;
}

/*
 * timepoint-line
 */
line.timepoint-line{
	stroke-width: 1px;
	stroke: black;
}
/*
 * tip
 */

#floor-bar-tip{
	max-width: 120px;
	min-width: 100px;
	z-index: 200;
}

#floor-bar-tip-time{
	max-width: 120px;
	min-width: 100px;
	z-index: 200;
	
	color: black;
	border: 1px solid black;
}
/*******/

#floor-bar-btn-wrapper .btn.btn-tl{
	fill: #4A3535;
}
#floor-bar-btn-wrapper .btn.btn-bar{
	fill: #B47070;
}

