#floor-bar-circles .floor circle{
	fill: #A2CE85;
}

#floor-bar-circles .floor text{
	text-anchor: start;
	stroke:#89A875;
	font-size: 12px;
}

#floor-bar-circles .floor.selected circle{
	fill: #006633;
}

#floor-bar-circles .floor.hover circle{
	stroke: #AFA765;
	stroke-width: 2;
}

#floor-bar-aps .floor .bar rect{
	fill: #666633;	
}

#floor-bar-aps .floor .bar.selected rect{
	fill: #A2CE85;
}

#floor-bar-aps .floor .bar.hover rect{
	fill: #1D3D35;
}

#floor-bar-tls .floor path{
	stroke: #455F50;
	fill: none;
}

#floor-bar-tl-x-axis.axis.x{
	
}
/*******/

#floor-bar-btn-wrapper .btn.btn-tl{
	fill: #4A3535;
}
#floor-bar-btn-wrapper .btn.btn-bar{
	fill: #B47070;
}

