#floor-background{
	/*plan image*/
	position: relative;	
	opacity: 0.1;
}

#aps-wrapper{}
#aps-wrapper .ap circle{
	fill: #646464;
	/*opacity: 0.5;*/
}

#ap-wrapper .ap.fade circle{
	fill: #E0E0E0;
	opacity:1;
}
#aps-wrapper .ap.hover circle{
	fill: #4290D2;
}

#aps-wrapper .device rect{
	fill: #A0A7B5;
}

#aps-wrapper .device.selected rect{
	fill: #71B1F0;
}

#path-wrapper{}

#path-arrow-normal{
	fill: #8B8B8B;
}

#path-arrow-fade{
	/*opacity: 0.1;*/
}

#path-arrow-reverse{
	fill: #8B8B8B;
}

#path-arrow-hilight{
	fill: #8B8B8B;
}

#path-arrow-hover{
	fill: #8B8B8B;
}

#path-wrapper .link path{
	fill: none;
	stroke: #8B8B8B;
	opacity: 0.5;
	marker-end: url("#path-arrow-normal");
}

#path-wrapper .fade path{
	opacity: 0.1;
	marker-end: url("#path-arrow-fade");
}

#path-wrapper .hilight path{
	opacity: 1;
	stroke: #8B8B8B;
	marker-end: url("#path-arrow-hilight");
}

#path-wrapper .reverse path{
	opacity: 1;
	stroke: #8B8B8B;
	marker-end: url("#path-arrow-reverse");
}

#path-wrapper .hover path{
	stroke: #8B8B8B;
	marker-end: url("#path-arrow-hover");
}
