#floor-background{
	/*plan image*/
	position: relative;	
	opacity: 0.4;
}

#aps-wrapper{}
#aps-wrapper .ap circle{
	fill: #F9E13D;
	opacity: 0.5;
	stroke: #333333;
	stroke-width: 3;
}
#aps-wrapper .ap.hilight circle{
	fill: #006633;
	stroke: #575555;
	stroke-width: 5;
}

#device-wrapper .device rect{
	fill: #8C564B;
	stroke: #FFFFFF;
}

#device-wrapper .device.selected rect{
	fill: red;
}

#path-wrapper{}

#path-arrow{
	fill: #003300;
	opacity: 1;
}

#path-wrapper .link path{
	fill: none;
	stroke: #669933;
	opacity: 0.5;
}

#path-wrapper .fade path{
	opacity: 0;
}

#path-wrapper .hilight path{
	opacity: 1;
	stroke: #006633;
}

#path-wrapper .reverse path{
	opacity: 1;
	stroke: #669933;
}
