body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	/*background-color: #E0E0E0;*/
}

rect.placeholder{
	opacity: 0;
}

/*
 * mask
 */
#mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	visibility: visible;
	z-index: 2048;
}

#mask .loading{
	width: 400;
	height: 300;
	margin: auto;
	visibility: inherit;
}
/*
 * floor select menu
 */
#floor-select-menu{
	width: 80px;
	height: 20px;
	font-size: 12px;
}

#floor-select-menu + span.ui-selectmenu-button{
	width: 80px;
  height: 22px;
  font-size: 12px;
}

#floor-select-menu + span.ui-selectmenu-button .ui-selectmenu-text{
	padding: 3px 15px;
}

.ui-menu-item{
	text-align: center;
	font-size: 12px;
}
.ui-selectmenu-menu{
	z-index: 1000;
}
/*
 *
 */
span.view-control-panel{
	font-size: 12px;
}

/*
 * tip
 */

.wfv-tip-wrapper {
	position: absolute;
	left:0;
	top:0;
	display: none;
	padding: 6;
	background-color: #CCCCCC;
	opacity: 0.9;
	border: 1px solid;
	border-radius: 5;
	color: darkgoldenrod;
	font-family: monospace;
	font-size: 11;
	font-weight: bold;
	z-index: 100000;
}

.d3-tip{
	z-index: 150;
}
