body {
/*	padding: 20px 20px;*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	/*background-color: #303030;*/
}

#mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	opacity: 0.8;
	visibility: visible;
}

#mask .loading{
	width: 400;
	height: 300;
	margin: auto;
	visibility: inherit;
}

/*
 *
 */
a {
	color: #00B7FF;
}

rect.placeholder{
	visibility: hidden;
	fill: none;
	opacity: 0.4;
}

#floor-nav-wrapper-background{
/*	position: absolute;
	left: 0;
	top: 2%;
	width: 100%;
	height: 100%;
	background-color: #C1B5B5;*/
}

#floor-nav-wrapper{
	/*position: absolute;
	left: 1%;
	top: 2%;
	width: 20%;
	height: 65%;*/
	height: 30px;
	margin-bottom:30px;
	/*background-color: #CCC3C3;*/
}

#floor-wrapper{
	width: 100%;
	height: 100%;
	margin: auto;
}

.floor{
	background-color: #C0C0C0;	
/*	position: relative;
	border: 1px solid #6F5252;
	border-radius: 3px;*/
	float: left;
	width: 5.8%;
	height: 100%;
}

.floor input[type='button']{
	width: 100%;
	height: 100%;
	border: 0;
}

.floor.pushed{
	border: 3px solid #FFFFFF;
}

.floor *{
}

/*
 * aps force layout
 */
#aps-graph-wrapper{
	position: fixed;
	top:9%;
	right: 3%;
	width: 36%;
	height: 64%;
	/*background-color: #FF00FF;*/
}

#edge-filter-slider a{
	cursor: pointer;
}

#aps-graph-wrapper circle.node{
	/*fill: #265D26;*/
	stroke: #565656;
}

#aps-graph-wrapper line.link{
	stroke:#887E7C; 
	stroke-width: 2;
}

/*
 * floor detail
 */
#floor-bar{

}

#floor-bar .floor{
	cursor: pointer;
}

#floor-bar .floor circle{
	fill: rgb(174, 199, 232);
	stroke: #FFFFFF;
}

#floor-bar .floor circle.pushed{
	fill: #BCBD22; 
}

#floor-detail-wrapper{
	position: fixed;
	top: 8%;
	height: 64%;
	left: 2.5%;
	width: 56%;
	/*background-color: #523D3D;*/
}

#floor-background{
	/*plan image*/
	position: relative;	
	opacity: 0.2;
}

#aps-wrapper{}
#aps-wrapper circle.device{
	fill: #8C564B;
	stroke: #FFFFFF;
}
#aps-wrapper circle.device.selected{
	fill: red;
}
#aps-wrapper circle.ap{
	fill: #7F7F7F;
	opacity: 0.7;
	stroke: #000000;
	stroke-width: 1;
}
#aps-wrapper circle.hilight{
	fill: #F7B6D2;
}

#path-wrapper{}
#path-wrapper path.link{
	fill: none;
	/*stroke: #8C564B;
	opacity: 0.7;*/
}
#path-wrapper path.fade{
	opacity: 0.1;
}

.floor-label text{
	text-anchor: middle;
	fill: rgb(82, 84, 6);
	opacity: 0.2;
	font-size: 120px;
	/*stroke: rgb(255, 242, 0);*/
	stroke-width: 2;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
/*
 * timeline
 */
#timeline-wrapper{
	position: fixed;
	bottom: 2%;
	width: 98%;
	height: 25%;
	margin: auto;
	/*background-color: #CCC3C3;*/
}

#timeline-option-bar{
	width: 100%;
	height: 15%;
	display: inline;
	font-weight: bold;
	text-align: right;
	visibility: hidden;
	padding-left: 40;
}

#timeline-wrapper-inner{
	width: 100%;
	height: 85%;
	/*background-color: #3C3C3C;	
	border: 1px solid #6F5252;*/
	border-radius: 3px;
}

/*
 * For timeline general
 */
.timeline{

}
.timeline rect.placeholder{
	fill:none;
	/*fill: #000000;
	opacity: 0.2;*/
}
.timeline .axis path,
.timeline .axis line{
	fill: none;
	stroke: #727272;
	shape-rendering: crispEdges;
}
.timeline .axis text{
	/*fill: #CCCCCC;*/
	/*fill: #FFFFFF;*/
}
.timeline .x.axis{
}
.timeline .y.axis{

}
.timeline-dot circle.dot{
	stroke: #37957D;
	fill: #FFFFFF;
}
.timeline path.basic-timeline{
	stroke-width: 2;
	fill: #97CDFF;
	stroke: green;
}
.timeline .timeline-title{
}
.timeline path.ap-timeline{
	fill:none;
	stroke: blue;
	stroke-width: 2;
}

.ap-line circle{
	fill: red;
	stroke: black;
}
.ap-line text{

}
/*
 * for Brush
 */
.brush{ }
.brush.active{

}
/*
.brush rect.extent{
	opacity: 0.5;
	fill: #BCBD22;
}*/
.brush .brush-tag{}
.brush .brush-tag text{

}
.brush .brush-tag path{

}
