#timeline-basic path{
	stroke-width: 2px;
	fill: rgb(102, 153, 51);
	stroke: rgb(0, 102, 51);
	fill-opacity: 0.4;
	stroke-opacity: 1;
}

#timeline-floor g.line path{
	fill: #A2CE85;
	stroke: #666633;
	stroke-width: 2;
	fill-opacity: 0.3;
	stroke-opacity: 1;
}

#timeline-floor g.line.cur path{
	stroke-width: 3;
	fill-opacity: 0.2;
}

#timeline-ap g.line path{
	fill: #666633;
	stroke: blue;
	stroke-width: 2;
	fill-opacity: 0.2;
	stroke-opacity: 1;
}

/*
 * For timeline general
 */
.axis path, .axis line{
	fill: none;
	stroke: #727272;
	shape-rendering: crispEdges;
}
.axis text{
	/*fill: #CCCCCC;*/
	/*fill: #FFFFFF;*/
}
.x.axis{
}
.y.axis{

}

/*
 * for Brush
 */

.brush{ }

.brush.active{

}

.brush .brush-tag{}
.brush .brush-tag text{

}
.brush .brush-tag path{

}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
