#timeline-basic path{
	stroke-width: 2px;
	fill: rgb(102, 153, 51);
	stroke: rgb(0, 102, 51);
	opacity: 0.6;
}

#timeline-floor g.line path{
	fill: #A2CE85;
	stroke: #666633;
	stroke-width: 2;
	opacity: 0.6;
}

#timeline-ap g.line path{
	fill: #666633;
	stroke: blue;
	stroke-width: 2;
	opacity: 0.4;
}

/*
 * For timeline general
 */
#timeline-g .axis path,
#timeline-g .axis line{
	fill: none;
	stroke: #727272;
	shape-rendering: crispEdges;
}
#timeline-g .axis text{
	/*fill: #CCCCCC;*/
	/*fill: #FFFFFF;*/
}
#timeline-g .x.axis{
}
#timeline-g .y.axis{

}

/*
 * for Brush
 */

.brush{ }

.brush.active{

}

.brush .brush-tag{}
.brush .brush-tag text{

}
.brush .brush-tag path{

}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
